<p id="notice"><%= notice %></p>

<p>
  <strong>Line:</strong>
  <%= @path.line %>
</p>

<p>
  <strong>Data:</strong>
  <%= @path.data %>
</p>

<%= link_to 'Edit', edit_path_path(@path) %> |
<%= link_to 'Back', paths_path %>
